<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
        <div th:fragment="transactions-table">
            <table class="table table-striped text-center">
                <thead th:if="${!#lists.isEmpty(cardTransactions)}">
                <tr>
                    <th class="text-center">Receiver IBAN</th>
                    <th class="text-center">Purpose</th>
                    <th class="text-center">Sum</th>
                </tr>
                </thead>
                <tbody>
                <span th:if="${#lists.isEmpty(cardTransactions)}" >You have no transactions</span>
                <tr th:each="transaction: ${cardTransactions}">
                    <td th:text="${transaction.iban}" />
                    <td th:text="${transaction.purpose}" />
                    <td class="text-success"><strong th:text="${transaction.sum}"></strong></td>
                </tr>
                </tbody>
            </table>
        </div>
</body>
</html>